{%extends "app1/baseSellerBuyer.html"%}

{% block bodydata %}
	
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group bg_blue">
						<h2>Your remaining budget is {{budget}}<h1>
						<h1><strong>Seller Schedule</strong><h1>
					</div>
					<div class="table">
						<form id="form1">
							<table class="table">
								<tr>
									<th>Week Number</th>
									<th>Week Start Day</th>
									<th>Bidding Start Date</th>
									<th>Bidding Execution Date</th>
									<th>Current Price</th>
									<th>Remaining availability</th>
									<th>Last Modified</th>
									<th>Bid Hours</th>
								</tr>
								{% for sell in sellsObjects %}
									<tr id="tr_data">
										<td data-id="{{ sell.id }}" data-type="sell.id" hidden>{{ sell.id }}</td>
										<td data-id="{{ sell.id }}" data-type="Week_Number">{{ sell.Week_Number }}</td>
										<td data-id="{{ sell.id }}" data-type="Week_Start_Date">{{ sell.Week_Start_Date }}</td>
										<td data-id="{{ sell.id }}" data-type="Start_Date">{{ sell.Start_Date }}</td>
										<td data-id="{{ sell.id }}" data-type="End_Date">{{ sell.End_Date }}</td>
										<td data-id="{{ sell.id }}" data-type="Current_price">{{ sell.Current_price }}</td>
										<td data-id="{{ sell.id }}" data-type="Remaining_availability">{{ sell.Remaining_Availibility }}</td>
										<td data-id="{{ sell.id }}" data-type="Post_Date">{{ sell.Post_Date }}</td>
										<td class="editable" data-id="{{ sell.id }}" data-type="Bid_Hours"></td>
										<td><input class="btn btn-success update-button" id="{{sell.id}}" value="Bid" type="button" />
										</td>
									</tr>
								{% endfor %}
							</table>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group bg_blue">
						<h1><strong>My Bids</strong><h1>
					</div>
					<div class="table">
						<form id="form2">
							<table class="table">
								<tr>
									<th>Week Number</th>
									<th>Week Start Day</th>
									<th>Unit Price</th>
									<th>Hours</th>
									<th>Bidding_Date</th>
								</tr>
								{% for bid in bidsObjects %}
									<tr id="tr_data">
										<td class="editable" data-id="{{ bid.id }}" data-type="bid.id" hidden>{{ bid.id }}</td>
										<td data-id="{{ bid.id }}" data-type="Week_Number">{{ bid.Week_Number }}</td>
										<td data-id="{{ bid.id }}" data-type="Week_Start_Date">{{ bid.Week_Start_Date }}</td>
										<td data-id="{{ bid.id }}" data-type="Price">{{ bid.Price }}</td>
										<td data-id="{{ bid.id }}" data-type="Hours">{{ bid.Hours }}</td>
										<td data-id="{{ bid.id }}" data-type="Bidding_Date">{{ bid.Bidding_Date }}</td>
									</tr>
								{% endfor %}
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>


{% endblock bodydata %}

{% block custom_js %}
<script>
	$(document).ready(function(){
		$(document).on("dblclick",".editable",function(){
			var value=$(this).text();
			var data_type=$(this).data("type");
			var input_type="text";
			if(data_type=="created_at"){
				input_type="datetime-local";
			}
			var input="<input name='selected_bid' type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
			$(this).html(input);
			$(this).removeClass("editable")
		});
		$(document).on("dblclick",".editable",function(){
			var value=$(this).text();
			var data_type=$(this).data("type");
			var input_type="text";
			if(data_type=="created_at"){
				input_type="datetime-local";
			}
			var input="<input name='selected_bid' type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
			$(this).html(input);
			$(this).removeClass("editable")
		});

		$(document).on("click",".update-button",function(e){
			let id = $(this)[0]["id"];
			if (parseFloat($("#form1 td[data-id='" + id + "']")[8].innerText) >parseFloat($("#form1 td[data-id='" + id + "']")[6].innerText) ){
				alert("No Remaining Hours for the clicked week");//Check to see if there is any available time
			} else if (isNaN(parseFloat($("#form1 td[data-id='" + id + "']")[8].innerText))) {
				alert("Entered Bid Hours is invalid");//Validation of the bid hour textbox
			} else if (parseFloat($("#form1 td[data-id='" + id + "']")[8].innerText)<0.0) {
				alert("Bid Hours can't be Negative");//Validation of the bid hour textbox
			}
			else {
				//$("#form1 td[data-id='"+id+"']")[6].innerText = parseFloat($("#form1 td[data-id='"+id+"']")[6].innerText) - parseFloat($("#form1 td[data-id='"+id+"']")[8].innerText)//re-calculating the available time
				sendToServer(id);
			}
			//var d = new Date($.now());
			//$("#form1 td[data-id='" + id + "']")[6].innerText = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
		});

		$(document).on("blur",".input-data",function(){
			var value=$(this).val();
			var td=$(this).parent("td");
			$(this).remove();
			td.html(value);
			td.addClass("editable");
		});
		$(document).on("keypress",".input-data",function(e){
			var key=e.which;
			if(key==13){
				var value=$(this).val();
				var td=$(this).parent("td");
				$(this).remove();
				td.html(value);
				td.addClass("editable");
			}
		});
		function sendToServer(id){					
			$.ajax({
				url:window.location.href.replace("buyer","saveBid"),
				type:"POST",
				data:do_serialize(id),
			})
			.done(function(response){
				console.log(response);
				alert("Update succeeded")
				location.reload();
			})
			.fail(function(){
				console.log("Error Occured");
				alert("Update failed")
			});
		}

	});
	function do_serialize(id){
		let data = {};
		$('#form1').find('tr').each(function(){
			if ($(this)[0].children[0].innerText === id){
				let row  = $(this)[0];
				if (row.children !== undefined){
					data.id = id;
					data.Week_Number = row.children[1].textContent;
					data.Price = row.children[5].textContent;
					data.Bid_Hours = row.children[8].textContent;
					var d = new Date($.now());
					data.Bidding_Date =  d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();				
				}
			}
		});
		return data;
	}          
</script>
{% endblock custom_js %}