{%extends "app1/baseSellerBuyer.html"%}

{% block bodydata %}
<div class="container">
	<div class="row">

		
		<div class="col-lg-12">
			<div class="form-group bg_blue">
				<h1><strong>Seller Schedule</strong><h1>
				</div>
				<div class="table">
					<form id="form1">
						<table class="table">
							<tr>

								<th>Week Number</th>
                                <th>Week Start Day</th>
								<th>Current Price</th>
								<th>Remaining Hours</th>
								<th>Bid Start Date</th>
								<th>Bidding Execution Date</th>
								<th>Bid Hours</th>
		


							</tr>
							{% for seller in sellers %}
							<tr id="tr_data">
								<td hidden>{{ seller.id }}</td>
								<td  data-id="{{ seller.id }}" data-type="seller.id" hidden>{{  seller.id }}</td>
								<td  data-id="{{ seller.id }}" data-type="Week_Number">{{ seller.Week_Number }}</td>
								<td  data-id="{{ seller.id }}" data-type="Week_Start_Date">{{ seller.Week_Start_Date }}</td>
								<td  data-id="{{ seller.id }}" data-type="Price">{{ seller.Price }}</td>
								<td  data-id="{{ seller.id }}" data-type="Remaining_Hours">{{ seller.Remaining_Hours }}</td>
								<td  data-id="{{ seller.id }}" data-type="Start_Date">{{ seller.Start_Date }}</td>
								<td  data-id="{{ seller.id }}" data-type="End_Date">{{ seller.End_Date }}</td>
								{% if seller.Remaining_Hours != "0.00" %}
								
								<td class="editable" data-id="{{ seller.id }}" data-type="Bid_Hours"></td>
								<td><input class="btn btn-success update-button" id="{{seller.id}}" value="Bid" type="button" />
								</td>
							{% endif %}
							</tr>
							<!--<a href="/newBuyer" class="btn btn-success">-->
							{% endfor %}
						</table>
					</form>
				</div>
			</div>
		</div>
	
		<div class="col-lg-12">
			<div class="form-group bg_blue">
				<h1><strong>My Bids</strong><h1>
				</div>
				<div class="table">
					<form id="form1">
						<table class="table">
							<tr>

								<th>Week Number</th>
								<th>Week Start Day</th>
								<th>Price</th>
								<th>Hours</th>
								<th>Bidding_Date</th>
							</tr>
							{% for buyer in buyers %}
							<tr id="tr_data">
								<td class="editable" data-id="{{ buyer.id }}" data-type="buyer.id" hidden>{{ buyer.id }}</td>
								<td class="editable" data-id="{{ buyer.id }}" data-type="Week_Number">{{ buyer.Week_Number }}</td>
								<td class="editable" data-id="{{ buyer.id }}" data-type="Week_Start_Date">{{ buyer.Week_Start_Date }}</td>
								<td class="editable" data-id="{{ buyer.id }}" data-type="Price">{{ buyer.Price }}</td>
								<td class="editable" data-id="{{ buyer.id }}" data-type="Hours">{{ buyer.Hours }}</td>
								<td class="editable" data-id="{{ buyer.id }}" data-type="Bidding_Date">{{ buyer.Bidding_Date }}</td>
							
							</tr>
							{% endfor %}
						</table>
					</form>
				</div>
			</div>
		</div>

		<!-- <a href="/newBuyer" class="btn btn-success">Add</a> -->
<!-- 		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
					{% if messages %}
						{% for message in messages %}
							{% if message.tags == 'success' %}
								<div class="alert alert-success">{{ message }}</div>
							{% elif message.tags == 'error' %}
								<div class="alert alert-danger">{{ message }}</div>
							{% endif %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div> -->
		{% endblock bodydata %}

		{% block custom_js %}
		<script>
			$(document).ready(function(){
				$(document).on("dblclick",".editable",function(){
					var value=$(this).text();
					var data_type=$(this).data("type");
					var input_type="text";
					if(data_type=="created_at"){
						input_type="datetime-local";
					}
					var input="<input name='selected_buyer' type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
					$(this).html(input);
					$(this).removeClass("editable")
				});
				$(document).on("dblclick",".editable",function(){
					var value=$(this).text();
					var data_type=$(this).data("type");
					var input_type="text";
					if(data_type=="created_at"){
						input_type="datetime-local";
					}
					var input="<input name='selected_buyer' type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
					$(this).html(input);
					$(this).removeClass("editable")
				});

				$(document).on("click",".update-button",function(e){
					let id = $(this)[0]["id"];
					if (parseFloat($("#form1 td[data-id='" + id + "']")[7].innerText) > parseFloat($("#form1 td[data-id='" + id + "']")[4].innerText)) {
						alert("No Remaining Hours for the clicked week");
					} else if (isNaN(parseFloat($("#form1 td[data-id='" + id + "']")[7].innerText))) {
						alert("Entered Bid Hours is invalid");
					} else if (parseFloat($("#form1 td[data-id='" + id + "']")[7].innerText)<0.0) {
						alert("Bid Hours can't be Negative");
					}  else {
						$("#form1 td[data-id='"+id+"']")[4].innerText = parseFloat($("#form1 td[data-id='"+id+"']")[4].innerText) - parseFloat($("#form1 td[data-id='"+id+"']")[7].innerText)
						sendToServer(id);
					}
					//var d = new Date($.now());
					//$("#form1 td[data-id='" + id + "']")[6].innerText = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
					
				});

				$(document).on("blur",".input-data",function(){
					var value=$(this).val();
					var td=$(this).parent("td");
					$(this).remove();
					td.html(value);
					td.addClass("editable");
				});
				$(document).on("keypress",".input-data",function(e){
					var key=e.which;
					if(key==13){
						var value=$(this).val();
						var td=$(this).parent("td");
						$(this).remove();
						td.html(value);
						td.addClass("editable");
					}
				});
				function sendToServer(id){
					$.ajax({
						url:window.location.href.replace("buyer","saveBuyer"),
						type:"POST",
						data:do_serialize(id),
					})
					.done(function(response){
						console.log(response);
						alert("Record Updated")
					})
					.fail(function(){
						console.log("Error Occured");
					});
				}

			});
			function do_serialize(id){
				let data = {};
				$('#form1').find('tr').each(function(){
					if ($(this)[0].children[0].innerText === id){
						let row  = $(this)[0];
						if (row.children !== undefined){
							data.id = id;
							data.Week_Number = row.children[2].textContent;
							data.Week_Start_Date = row.children[3].textContent;
							data.Price = row.children[4].textContent;
							data.Remaining_Hours = row.children[5].textContent;
							data.Bid_Start_Date = row.children[6].textContent;
							data.Bid_Execution_Date = row.children[7].textContent;
							data.Bid_Hours = row.children[8].textContent;
							var d = new Date($.now());
							data.Bidding_Date =  d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
							
						}
					}
				});
				return data;
			}          
		</script>
		{% endblock custom_js %}