{%extends "app1/baseSellerBuyer.html"%}

{% block bodydata %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group bg_blue">
				<h1><strong>My schedule</strong><h1>
				</div>
				<div class="table">
					<form id="form1">
						<table class="table table-sortable">
							<tr>
                                <th data-column="Week_Number" data-order="desc">Week Number</th>
								<th data-column="Week_Start_Date" data-order="desc">Week Start Day</th>
								<th data-column="Start_Date" data-order="desc">Bidding Start Date</th>
								<th data-column="End_Date" data-order="desc">Bidding Execution Date</th>
								<th data-column="Min_Price" data-order="desc">Min Price</th>
								<th data-column="Max_Price" data-order="desc">Max Price</th>
								<th data-column="Current_price" data-order="desc">Current Price</th>
								<th data-column="Total_Availibility" data-order="desc">Total Availablity</th>
								<th data-column="Remaining_Hours" data-order="desc">Remaining availability</th>
								<th data-column="Post_Date" data-order="desc">Last Modified</th>
							</tr>
							{% for seller in sellers %}
							<tr id="tr_data">
								<td data-id="{{ seller.id }}" data-type="seller.id" hidden>{{ seller.id }}</td>
								<td class="editable" data-id="{{ seller.id }}" data-type="Week_Number">{{ seller.Week_Number }}</td>
								<td data-id="{{ seller.id }}" data-type="Week_Start_Date">{{ seller.Week_Start_Date }}</td>
								<td class="editable" data-id="{{ seller.id }}" data-type="Start_Date">{{ seller.Start_Date }}</td>
								<td class="editable" data-id="{{ seller.id }}" data-type="End_Date">{{ seller.End_Date }}</td>
								<td class="editable" data-id="{{ seller.id }}" data-type="Min_Price">{{ seller.Min_Price }}</td>				
								<td class="editable" data-id="{{ seller.id }}" data-type="Max_Price">{{ seller.Max_Price }}</td>				
								<td data-id="{{ seller.id }}" data-type="Current_price">{{ seller.Current_price }}</td>
								<td class="editable" data-id="{{ seller.id }}" data-type="Total_Availibility">{{ seller.Total_Availibility }}</td>
								<td data-id="{{ seller.id }}" data-type="Remaining_availability">{{ seller.Remaining_Hours }}</td>
								<td data-id="{{ seller.id }}" data-type="Post_Date">{{ seller.Post_Date }}</td>								
								<td><a href="/deleteSeller/{{seller.id}}" class="btn btn-danger">Delete</a><br>
									<input class="btn btn-success update-button" id='{{seller.id}}' value="Save" type="button" />
								</td>
							</tr>
							{% endfor %}
						</table>
					</form>
				</div>
			</div>
		</div>

       <a href="/newSeller" class="btn btn-success">Add</a>

		<div class="col-lg-12">
			<div class="form-group bg_blue">
				<h1><strong>Placed Bids</strong><h1>
				</div>
				<div class="table">
					<form id="form1">
						<table class="table">
							<tr>
                                <th>Buyer name</th>
								 <th>Bid Hour</th>
								<th>Price</th>
								<th>Week Number</th>
								<th>Bidding Date</th>
							</tr>
							{% for buyer in buyers %}
							<tr id="tr_data">
								<td  data-id="{{ buyer.id }}" data-type="Buyer_Id">{{ buyer.Buyer_Id }}</td>
								<td  data-id="{{ buyer.id }}" data-type="Hours">{{ buyer.Hours }}</td>
								<td  data-id="{{ buyer.id }}" data-type="Price">{{ buyer.Price }}</td>
								<td  data-id="{{ buyer.id }}" data-type="Week_Number">{{ buyer.Week_Number }}</td>
								<td  data-id="{{ buyer.id }}" data-type="Bidding_Date">{{ buyer.Bidding_Date }}</td>
								


								</td>
							</tr>
							{% endfor %}
						</table>
					</form>
				</div>
			</div>
		</div>

		{% endblock bodydata %}

		{% block custom_js %}
		<script>
            <!-- script to allow sort columns -->
            $('th').on('click', function(){
                var column = $(this).data('column')
                var order = $(this).data('order')
                console.log('column was clicked!', column, order)

                if(order == 'desc') {
                    $(this).data('order', "asc")
                }else{
                    $(this).data('order', "desc")
                }
            })

			$(document).ready(function(){
				$(document).on("dblclick",".editable",function(){
					var value=$(this).text();
					var data_type=$(this).data("type");
					var input_type="text";
					if(data_type=="created_at"){
						input_type="datetime-local";
					}
					if (data_type != "Week_Number") {
						var input = "<input name='selected_seller' type='" + input_type + "' class='input-data' value='" + value + "' class='form-control'>";
					} else {
						var input = "<select name='Week_Number' id='Week_Number'>"
						for (var i = 1; i < 54; i++)
							input += "<option value='" + i + "'>" + i + "</option>";
						input+="</select>"
					}
					
					$(this).html(input);
					$(this).removeClass("editable")
				});

				$(document).on("click",".update-button",function(e){
					let id = $(this)[0]["id"];
					sendToServer(id);
				});

				$(document).on("blur",".input-data",function(){
					var value=$(this).val();
					var td=$(this).parent("td");
					$(this).remove();
					td.html(value);
					td.addClass("editable");
				});

				$(document).on("change","#Week_Number",function(e){
					let id = $(this)[0];
					var result = new Date("12/29/2019");
					result.setDate(result.getDate() + parseInt(($("#Week_Number").val())-1) * 7);
					$("#form1 td[data-id='" + $(this)[0].parentElement.getAttribute("data-id") + "']")[2].innerText = (result.getYear()+1900)+"-"+(result.getMonth() +1)+"-"+result.getDate()
				});


				$(document).on("keypress",".input-data",function(e){
					var key=e.which;
					if(key==13){
						var value=$(this).val();
						var td=$(this).parent("td");
						$(this).remove();
						td.html(value);
						td.addClass("editable");
					}
				});
				function sendToServer(id){
					$.ajax({
						url:window.location.href.replace("seller","saveSeller"),
						type:"POST",
						data:do_serialize(id),
					})
					.done(function(response){
						console.log(response);
						//alert("Update succeeded")
						location.reload();
					})
					.fail(function(){
						console.log("Error Occured");
						//alert("Update failed")
					});
				}

			});
			function do_serialize(id){
				let data = {};
				$('#form1').find('tr').each(function(){
					if ($(this)[0].children[0].innerText === id){
						let row  = $(this)[0];
						if (row.children !== undefined){
							data.id = id;
							data.Week_Number =(row.children[1].children[0] == undefined? row.children[1].textContent:row.children[1].children[0].value);
							data.Start_Date = row.children[3].textContent;
							data.End_Date = row.children[4].textContent;
							data.Min_Price = row.children[5].textContent;
							data.Max_Price = row.children[6].textContent;
							data.Total_Availibility = row.children[8].textContent;
						}
					}
				});
				return data;
			}          
		</script>
		{% endblock custom_js %}