{%extends "app1/baseSellerBuyer.html"%}

{% block bodydata %}
	{% if user.is_authenticated and user.is_staff%}
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group bg_blue">
						<h5> Welcome <i>{{currentUser.username}} </i><h5>
						<h1><strong>My schedule</strong><h1>
					</div>
					<div class="table tableFixHead">
						<form id="form1">
							<table id="table1" class="table table1">
								<thead>
								<tr>
									<th col-id="1" hidden>Id</th>
									<th col-id="2">Week Number</th>
									<th col-id="3">Week Start Day</th>
									<th col-id="4">Bidding Start Date</th>
									<th col-id="5">Bidding End Date</th>
									<th col-id="6">Min Price</th>
									<th col-id="7">Max Price</th>
									<th col-id="8">Current Price</th>
									<th col-id="9">Total Availablity</th>
									<th col-id="10">Remaining availability</th>
									<th col-id="11">Last Modified</th>
									
								</tr>
								</thead>
								<tbody>
								{% for sell in sellsObjects %}
								<tr id="tr_data" class="item">
									<td data-id="{{ sell.0 }}" data-type="sell.0" hidden>{{ sell.0 }}</td>
									<td style="{{sell.12}}" class="{{sell.13}}" data-id="{{ sell.0 }}" data-type="Week_Number">{{ sell.1 }}</td>
									<td style="{{sell.14}}" data-id="{{ sell.0 }}" data-type="Week_Start_Date">{{ sell.2 }}</td>
									<td style="{{sell.12}}" class="{{sell.13}}" data-id="{{ sell.0 }}" data-type="Start_Date">{{ sell.3 }}</td>
									<td style="{{sell.12}}" class="{{sell.13}}" data-id="{{ sell.0 }}" data-type="End_Date">{{ sell.4 }}</td>
									<td style="{{sell.12}}" class="{{sell.13}}" data-id="{{ sell.0 }}" data-type="Min_Price">{{ sell.5 }}</td>
									<td style="{{sell.12}}" class="{{sell.13}}" data-id="{{ sell.0 }}" data-type="Max_Price">{{ sell.6 }}</td>
									<td style="{{sell.14}}" data-id="{{ sell.0 }}" data-type="Current_price">{{ sell.7 }}</td>
									<td style="{{sell.12}}" class="editable" data-id="{{ sell.0 }}" data-type="Total_Availibility">{{ sell.8 }}</td>
									<td style="{{sell.14}}" data-id="{{ sell.0 }}" data-type="Remaining_availability">{{ sell.9 }}</td>
									<td style="{{sell.14}}" data-id="{{ sell.0 }}" data-type="Post_Date">{{ sell.10 }}</td>
									<td>
									{% if sell.11 == "1" %}
										<a href="/deleteSell/{{sell.0}}" class="btn btn-danger">Delete</a><br>
									{%endif%}
									<input class="btn btn-success update-button" id='{{sell.0}}' value="Update" type="button"/>
									</td>
								</tr>
								{% endfor %}
									</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<a href="/newSell" class="btn btn-success" name="addBid">Add</a>
				<div class="col-lg-12">
					<div class="form-group bg_blue">
						<h1><strong>Placed Bids</strong><h1>
						</div>
						<div class="table tableFixHead">
							<form id="form2">
								<table id="table2" class="table table2">
									<thead>
									<tr>
										<th col-id="1" hidden>ID</th>
										<th col-id="2">Week Number</th>
										<th col-id="3">Buyer Name</th>
										<th col-id="4">Unit Price</th>
										<th col-id="5">Bid Hour</th>									
										<th col-id="6">Total Price</th>
										<th col-id="7">Post Date</th>
									</tr>
								    </thead>
									<tbody>
									{% for bid in bidsObjects %}
										<tr id="tr_data">
											<td  style="{{bid.7}}" data-id="{{ bid.0 }}" data-type="id" hidden>{{ bid.0 }}</td>
											<td  style="{{bid.7}}" data-id="{{ bid.0 }}" data-type="Week_Number">{{ bid.1 }}</td>
											<td  style="{{bid.7}}" data-id="{{ bid.0 }}" data-type="Buyer_Username">{{ bid.2 }}</td>
											<td  style="{{bid.7}}" data-id="{{ bid.0 }}" data-type="Price">{{ bid.3 }}</td>
											<td  style="{{bid.7}}" data-id="{{ bid.0 }}" data-type="Hours">{{ bid.4 }}</td>
											<td  style="{{bid.7}}" data-id="{{ bid.0 }}" data-type="Total">{{ bid.5 }}</td>
											<td  style="{{bid.7}}" data-id="{{ bid.0 }}" data-type="Bidding_Date">{{ bid.6 }}</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>				
		</div>
	{%else%}
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group bg_blue">
						<h1><strong>Access Denied!</strong><h1>
							<h3>Your credential does not allow to change/view the bidding schedule<h1>
					</div>
				</div>
			</div>
		</div>
	{% endif %}			
{% endblock bodydata %}
{% block custom_js %}
<script>
	$(document).ready(function () {
		//setTimeout(0.2);

		//$('table').scrollTableBody();
		//$('#table2').scrollTableBody();
		/*if (parseInt($('.alert').length) > 0) {
					$('#form1 .jqstb-scroll').height(424-$('.alert').length*2*parseInt($('.alert').height()))
					$('#form2 .jqstb-scroll').height('573')
		} else {
					$('#form1 .jqstb-scroll').height('405')
					$('#form2 .jqstb-scroll').height('573')
		}*/

		var newTableObject = document.getElementById("table1");
		sorttable.makeSortable(newTableObject);
		var newTableObject = document.getElementById("table2");
		sorttable.makeSortable(newTableObject); 
		/*$($("table.jqstb-header-table")[0]).attr("id", "table1");
		$($("table.jqstb-header-table")[0]).css({ "maxWidth": "89%" });
		$($("table.jqstb-header-table")[1]).attr("id", "table2");*/
		$("#table1.table1 thead tr").append("<th></th>");

	/*	$($('#table1.table1 thead tr')[1]).children().each(function( index ) {
					console.log( index + ": " + $( this ).width() );
			$($($('#table1.table1 thead tr')[0]).children()[index]).width($(this).width());
			$($($('#table1.table1 thead tr')[0]).children()[index]).width($(this).height());
			$($($('#table1.table1 thead tr')[0]).children()[index]).width($(this).offset());
		}); */


		$(document).on("dblclick",".editable",function(){
			var value=$(this).text();
			var data_type=$(this).data("type");
			var input_type="text";
			if(data_type=="created_at"){
				input_type="datetime-local";
			}
			if (data_type != "Week_Number") {
				var input = "<input name='selected_sell' type='" + input_type + "' class='input-data' value='" + value + "' class='form-control'>";
			} else {
				var input = "<select name='Week_Number' id='Week_Number'>"
				for (var i = 1; i < 54; i++)
					input += "<option value='" + i + "'>" + i + "</option>";
				input+="</select>"
			}

			$(this).html(input);
			$(this).removeClass("editable")
			/*$($('#table1.table1 thead tr')[1]).children().each(function( index ) {
					console.log( index + ": " + $( this ).width() );
						$($($('#table1.table1 thead tr')[0]).children()[index]).width($(this).width());
						$($($('#table1.table1 thead tr')[0]).children()[index]).width($(this).height());
						$($($('#table1.table1 thead tr')[0]).children()[index]).width($(this).offset());
			}); */
		});

		$(document).on("click",".update-button",function(e){
			let id = $(this)[0]["id"];
			sendToServer(id);
		});

		$(document).on("blur",".input-data",function(){
			var value=$(this).val();
			var td=$(this).parent("td");
			$(this).remove();
			td.html(value);
			td.addClass("editable");
		});
	/*	$(document).on("click", "#table1.table1 thead th", function () {
			if ($(this).is(":visible")) {

				$($($('#table1.table1 thead tr')[1]).children()[parseInt($(this).attr("col-id")) - 1]).click();
			if($(this).attr("order") == undefined) {
				$("#sorttable_sortrevind").remove();
				$("#sorttable_sortfwdind").remove();
				$(this).attr("order", "1");
				$(this).append("<span id='sorttable_sortfwdind'>&nbsp;▾</span>");
			} else if ($(this).attr("order") == "1") {
				$(this).attr("order", "-1");
				$("#sorttable_sortrevind").remove();
				$("#sorttable_sortfwdind").remove();
				$(this).append("<span id='sorttable_sortrevind'>&nbsp;▴</span>");
			} else if ($(this).attr("order") == "-1") {
				$("#sorttable_sortrevind").remove();
				$("#sorttable_sortfwdind").remove();
				$(this).attr("order", "1");
				$(this).append("<span id='sorttable_sortfwdind'>&nbsp;▾</span>");
			}
			}

			//sortTable($(this).attr("col-id"), "table1",$(this).attr("order"));
		});

		$(document).on("click", "#table2.table1 thead th", function () {
			if ($(this).is(":visible")) {
				
				$($($('#table2.table2 thead tr')[0]).children()[parseInt($(this).attr("col-id")) - 1]).click();
				if ($(this).attr("order") == undefined) {
				$("#sorttable_sortrevind").remove();
				$("#sorttable_sortfwdind").remove();
				$(this).attr("order", "1");
				$(this).append("<span id='sorttable_sortfwdind'>&nbsp;▾</span>");
			} else if ($(this).attr("order") == "1") {
				$(this).attr("order", "-1");
				$("#sorttable_sortrevind").remove();
				$("#sorttable_sortfwdind").remove();
				$(this).append("<span id='sorttable_sortrevind'>&nbsp;▴</span>");
			} else if ($(this).attr("order") == "-1") {
				$("#sorttable_sortrevind").remove();
				$("#sorttable_sortfwdind").remove();
				$(this).attr("order", "1");
				$(this).append("<span id='sorttable_sortfwdind'>&nbsp;▾</span>");
			}
			}

			//sortTable($(this).attr("col-id"), "table1",$(this).attr("order"));
		});
		*/
		$(document).on("change","#Week_Number",function(e){
			let id = $(this)[0];
			var result = new Date("12/29/2019");
			result.setDate(result.getDate() + parseInt(($("#Week_Number").val())-1) * 7);
			$("#form1 td[data-id='" + $(this)[0].parentElement.getAttribute("data-id") + "']")[2].innerText = (result.getYear()+1900)+"-"+(result.getMonth() +1)+"-"+result.getDate()
		});


		$(document).on("keypress",".input-data",function(e){
			var key=e.which;
			if(key==13){
				var value=$(this).val();
				var td=$(this).parent("td");
				$(this).remove();
				td.html(value);
				td.addClass("editable");
			}
		});
		function sortTable(column, table_id, order) {

			$.ajax({
				url:window.location.href.replace("seller","sortSellerTable1"),
				type:"POST",
				data:do_serialize_sort(column, table_id, order),
			})
			.done(function(response){
				console.log(response);
					//alert("Update succeeded")
					//location.reload();
				})
			.fail(function(){
				console.log("Error Occured");
					//alert("Update failed")
				});
		}

		function sendToServer(id){
			$.ajax({
				url:window.location.href.replace("seller","saveSell"),
				type:"POST",
				data:do_serialize(id),
			})
			.done(function(response){
				console.log(response);
					//alert("Update succeeded")
					location.reload();
				})
			.fail(function(){
				console.log("Error Occured");
					//alert("Update failed")
				});
		}

	});
	function do_serialize_sort(column, table_id,order){
		let data = {};
		data.column = column;
		data.table_id = table_id;
		data.order = order;
		return data;
	}
	function do_serialize(id){
		let data = {};
		$('#form1').find('tr').each(function(){
			if ($(this)[0].children[0].innerText === id){
				let row  = $(this)[0];
				if (row.children !== undefined){
					data.id = id;
					data.Week_Number =(row.children[1].children[0] == undefined? row.children[1].textContent:row.children[1].children[0].value);
					data.Start_Date = row.children[3].textContent;
					data.End_Date = row.children[4].textContent;
					data.Min_Price = row.children[5].textContent;
					data.Max_Price = row.children[6].textContent;
					data.Total_Availibility = row.children[8].textContent;
				}
			}
		});
		return data;
	}          
</script>
{% endblock custom_js %}