	{% if user.is_authenticated and user.is_staff%}
	{%else%}
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group bg_blue">
						<h1><strong>Access Denied!</strong><h1>
							<h3>Your credential does not allow to change/view the bidding schedule<h1>
					</div>
				</div>
			</div>
		</div>
	{% endif %}	





	{% if user.is_authenticated and not user.is_staff%}
		{%else%}
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group bg_blue">
						<h1><strong>Access Denied!</strong><h1>
							<h3>Your credential does not allow submit/view any bid<h1>
					</div>
				</div>
			</div>
		</div>
	{% endif %}			